[submodule "torch"]
	path = torch
	url = https://github.com/briaguya0/Torch.git
	branch = mm-support
[submodule "2ship"]
	path = 2ship
	url = https://github.com/briaguya0/2ship2harkinian.git
	branch = deterministic-extraction
