[submodule "torch"]
	path = torch
	url = https://github.com/briaguya0/Torch.git
	branch = oot-assets-torchonly
[submodule "shipwright"]
	path = shipwright
	url = https://github.com/briaguya0/Shipwright.git
	branch = fix-skinvtxcnt-ub
